[pretix]
instance_name=pretix-local
url=http://localhost:8000
currency=COP
datadir=data
registration=false

[locale]
default=en
timezone=America/Bogota

[database]
backend=postgresql
name=pretix_dev
user=your_db_user
password=your_db_password
host=localhost
port=5432

[redis]
location=redis://localhost:6379/0
sessions=true

[celery]
broker=redis://localhost:6379/1
backend=redis://localhost:6379/2

[mail]
from=pretix@localhost

[django]
debug=true
